
.mensaje_seguridad {
    position: absolute;
    margin-top: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(255, 242, 223);

}

.mensaje_seguridad__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
}

.mensaje_seguridad__contenedor p {
    color: rgb(0, 0, 0);
    font-size: 10px;
    margin: 0 4px;
}

.seguridad_img_1 {
    width: 12px;
    height: 12px;
    background-image: url(../IMG/camion.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.seguridad_img_2 {
    width: 12px;
    height: 12px;
    background-image: url(../IMG/candado.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.seguridad_img_3 {
    width: 12px;
    height: 12px;
    background-image: url(../IMG/tarjeta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#contenedor_resultados {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
}

#contenedor_resultados div p {
    padding: 4px;
    width: 100%;
    user-select: none;
}

#contenedor_resultados p {
    font-size: 1em;
    font-weight: 800;
    user-select: none;
}

.producto_span {
    font-size: 1em;
    color: rgb(242, 129, 40);
    font-weight: 800;
    user-select: none;
}

.contenedor_nuevos_productos {
    margin-top: 96%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(223, 223, 223, 0.966);
}

.producto-popup td {
    font-weight: 800;
    user-select: none;
    padding: 5px;

}

table {
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 12px;
}

th {
    text-align: start;
}



/* Estilos para la vista normal del producto */
.producto-caja {
    width: 160px;

    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0 rgb(0, 0, 0);
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #dfdfdf;
}

.producto-caja:hover {
    transform: scale(1.05); /* Aumentar ligeramente al hacer hover */
}

.caja-secundaria {
    background-color: rgba(223, 223, 223, 0.808);
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Fondo para el popup */
.fondo-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px; /* Espacio para móviles */
    box-sizing: border-box;
}

.info_nuevos_productos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 242, 223);
}

.info__caja2 {
    width: 24px;
    height: 24px;
    background-image: url(../IMG/caja2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info__caja1 {
    width: 24px;
    height: 24px;
    background-image: url(../IMG/caja1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info_nuevos_productos p {
    font-size: 1.3em;
    font-weight: 900;
    color: rgb(242, 129, 40);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Contenedor del producto ampliado */
.producto-popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    overflow-y: auto;
}

/* Imagen del producto */
.imagen-producto {
    max-width: 100%;
    max-height: 500px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Botón para cerrar el popup */
.boton-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5e5e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.boton-cerrar:hover {
    background-color: #ff3b3b;
}

/* Estilos para adaptabilidad en móviles */

@media (min-width: 600px){
    #contenedor_resultados p {
        font-size: 1em;
    }

    .producto-caja {
        width: 240px;
        height: 280px;
    }
    
    .mensaje_seguridad {
        margin-top: 31%;
    }

    .contenedor_nuevos_productos {
        margin-top: 32%;
    }

    .mensaje_seguridad__contenedor p {
        font-size: 12px;
    }
}